<%- include('partials/header.ejs') %>

<main class="main">
  <section class="artists-page">
    <h1>Artistas</h1>
    <div class="artist-list">
      <% Artists.forEach(artist => { %>
        <div class="artist-card">
          <img src="/img/<%= artist.img %>" alt="<%= artist.nome %>">
          <span><%= artist.nome %></span>
        </div>
      <% }); %>
    </div>
  </section>
</main>

<%- include('partials/footer.ejs') %>
